<div class="home-page-container">
  <h1>Welcome to Our Auction Site</h1>

  <div class="auction-links">
    <p>Click below to create a new auction or view all auctions:</p>
    
    <!-- Link to create an auction -->
    <a href="https://levi9-test.myshopify.com/pages/auction" class="auction-link">
      Create Auction
    </a>
    
    <!-- Link to view all auctions -->
    <a href="https://levi9-test.myshopify.com/pages/auctions" class="auction-link">
      View All Auctions
    </a>
  </div>
</div>