<div class="home-page-container">
  <h1>Welcome to Our Auction Site</h1>

  <div class="auction2-links">
    <p>Click below to create a new auction or view all auctions:</p>
    
    
    <a href="https://levi9-test.myshopify.com/pages/auction" class="auction2-link">
      Create Auction
    </a>
    
  
    <a href="https://levi9-test.myshopify.com/pages/auctions" class="auction2-link">
      View All Auctions
    </a>
  </div>
</div>