<div class="home-page-container">
  <h1>Welcome to Levi9 Auction Site</h1>
  <div class="auction2-links">
    <a href="https://levi9-test.myshopify.com/pages/auction" class="auction2-link">
      Create Auction
    </a>
    <a href="https://levi9-test.myshopify.com/pages/my-auctions" class="auction2-link">
      My Auctions
    </a>
  </div>
</div>

<div class="auction-list-container">
  <div id="auction-list" class="auction-grid"></div>
</div>

<div id="pagination" class="pagination"></div>

<script>
  var customerId = {{ customer.id | json }};
</script>

<script>
 document.addEventListener("DOMContentLoaded", async () => {
    const auctionListContainer = document.getElementById("auction-list");
    const paginationContainer = document.getElementById("pagination");
    const apiUrlBase = "https://shopifyauctionapp-hrdhadb3f3f5gpdh.northeurope-01.azurewebsites.net/Auctions";
    const auctionsPerPage = 9;
    let currentPage = 1;
   // Retrieve the values from localStorage for filtering and sorting auctions
    const newAuctionsChecked = localStorage.getItem('newAuctions') === 'true';
    const finishingSoonChecked = localStorage.getItem('finishingSoon') === 'true';
    const priceOrderValue = localStorage.getItem('priceOrder') || 'asc';
    console.log("priceOrderValue: ", priceOrderValue); // For debugging purposes
    // Construct the query string
    let queryString = `?showNewAuctions=${newAuctionsChecked}&showFinishingSoon=${finishingSoonChecked}&sortDescending=${priceOrderValue === 'desc'}`;
    // Update the apiUrl variable
    const apiUrl = apiUrlBase + queryString;
    console.log("url: ", apiUrl); // For debugging purposes

  

  function createAuctionCard(auction) {
    const startDate = new Date(new Date(auction.startDate).getTime()).toLocaleString("en-US");
    const endDate = new Date(new Date(auction.endDate).getTime()).toLocaleString("en-US"); 
    const now = new Date();
    
   
    const oneHourEarlier = new Date(new Date(auction.endDate).getTime() - 60 * 60 * 1000);
    
    const isExpired = oneHourEarlier < now;
    const isComingSoon = new Date(auction.startDate) > now;
    const cardClass = isExpired ? "auction-card expired" : "auction-card";
    const expiredLabel = isExpired
        ? `<span class="expired-label">Finished</span>`
        : "";
    const comingSoonLabel = isComingSoon ? `<span class="coming-soon-label">Upcoming Auction</span>` : "";

    return `
      <div class="${cardClass}" onclick="redirectToAuctionPage(${auction.id})">
          <div class="image-wrapper">
            <img src="${auction.imgUrlProduct}" alt="${auction.productTitle}" class="auction-image">
            ${expiredLabel}
            ${comingSoonLabel}
          </div>
          <h2>${auction.productTitle}</h2>
          <p><strong>Start Price:</strong> RSD ${auction.startPrice}</p>
          <p><strong>Current Price:</strong> RSD ${auction.currentPrice}</p>
          <p><strong>Start Date:</strong> ${startDate}</p>
          <p><strong>End Date:</strong> ${endDate}</p>
        </div>
      `;
    }

  async function fetchAuctions() {
    try {
      const response = await fetch(apiUrl, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "x-token": "7ca2bd89bc8b479f8e4a08dd14434a81",
        },
      });
      if (!response.ok) throw new Error("Failed to fetch auctions.");
      const auctions = await response.json();

      if (auctions.length === 0) {
        auctionListContainer.innerHTML = "<p>No active auctions at the moment.</p>";
        return;
      }

      const totalPages = Math.ceil(auctions.length / auctionsPerPage);
      const currentAuctions = auctions.slice((currentPage - 1) * auctionsPerPage, currentPage * auctionsPerPage);

      const auctionCards = currentAuctions.map(createAuctionCard).join("");
      auctionListContainer.innerHTML = auctionCards;

      createPagination(totalPages);
    } catch (error) {
      console.error("Error fetching auctions:", error);
      auctionListContainer.innerHTML = `<p>Error loading auctions. Please try again later.</p>`;
    }
  }

  function createPagination(totalPages) {
    paginationContainer.innerHTML = ""; 
    if (totalPages <= 1) return;

    const prevButton = document.createElement("a");
    prevButton.href = "#";
    prevButton.innerText = "«";
    prevButton.classList.add("pagination-link");
    if (currentPage === 1) prevButton.classList.add("disabled");
    prevButton.addEventListener("click", (event) => {
      event.preventDefault();
      if (currentPage > 1) {
        currentPage--;
        fetchAuctions();
      }
    });
    paginationContainer.appendChild(prevButton);

    for (let i = 1; i <= totalPages; i++) {
      const pageButton = document.createElement("a");
      pageButton.href = "#";
      pageButton.innerText = i;
      pageButton.classList.add("pagination-link");
      if (i === currentPage) pageButton.classList.add("active");
      pageButton.addEventListener("click", (event) => {
        event.preventDefault();
        currentPage = i;
        fetchAuctions();
      });
      paginationContainer.appendChild(pageButton);
    }

    const nextButton = document.createElement("a");
    nextButton.href = "#";
    nextButton.innerText = "»";
    nextButton.classList.add("pagination-link");
    if (currentPage === totalPages) nextButton.classList.add("disabled");
    nextButton.addEventListener("click", (event) => {
      event.preventDefault();
      if (currentPage < totalPages) {
        currentPage++;
        fetchAuctions();
      }
    });
    paginationContainer.appendChild(nextButton);
  }

  window.redirectToAuctionPage = (auctionId) => {
    const auctionPageUrl = `/pages/auction-details?auctionId=${auctionId}`;
    window.location.href = auctionPageUrl;
  };

  fetchAuctions();
});
</script>

<style>
h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #0D40C4;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 90%;
  transition: all 0.3s ease-in-out;
  opacity: 0;  
  transform: translateX(-100%);  
  animation: slideIn 1s forwards;  
}
.auction2-links {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  margin-top: 20px;
}

.auction2-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  background-color: #0D40C4;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.auction2-link:hover {
  background-color: #083a99; 
  transform: scale(1.05); 
}
  .coming-soon-label {
       background-color: #76e0bbcc;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
      }
  
</style>
